<div class="panel-body gray-bg">
    <div class="col-md-1"></div>
    <div class="panel-body col-md-10">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="pull-right text-right" style="line-height: 14px">
                            <small>
                                <span class="c-accent">Базові данні:</span> </small>

                                <br><small>USER ID: </small>
                            <div class="pull-right text-right">
                                <code>
                                    <span class="text-right"><?=$data['users']['id']?></span>
                                </code>
                            </div>

                                <br><small>CREATE TIME: </small>
                            <div class="pull-right text-right">
                                <code>
                                    <span class="text-right"><?php //echo DateTime::createFromFormat('Y-m-d H:i:s',$data['users']['cr_time'])->format('d-M(m)-Y  H:i');?></span>

                                </code>
                            </div>

                                <br><small>YOU ROLE IS: </small>
                            <div class="pull-right text-right">
                                <code>
                                    <span class="text-right"> <?=$data['users']['role']?></span>
                                </code>
                            </div>

                        </div>
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-note2"></i>
                        </div>
                        <div class="header-title">
                            <h3>Форма редагування параметрів користувача: "<span class="c-accent"><?=$data['users']['login']?></span>"</h3>
                            <small>
                                Форма для внесення змін у параметри користувача.
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>




        <div class="row">

            <div class="">



                <div class="panel panel-filled">
                    <div class="panel-body">
                            <form class=".col-xs-12 .col-md-8" method="post" action="" enctype="multipart/form-data">
                                <input type="hidden" name="id" value="<?=$data['users']['id']?>"/>
                               <div class="row show-grid">

                                   <div id="" class="panel-body col-md-4 align-center">


                                       <?php
                                                    if ($_SESSION['avatar'] == 0) $avatar=0;
                                                    else $avatar = $_SESSION['avatar'].'/'.$_SESSION['id'];
                                                    ?>
                                       <!--<div id="crop-select" class="form-group col-md-12 align-center"></div>-->
                                       <!--<img class="form-group center-block" src="<?=Session::get('avatar')?>"  alt="<?=Session::get('avatar')?>" align="">-->

                                       <div class="text-center">

                                           <label class="top" for="file-input">
                                               <input type="file" id="file-input" name="avatar" style="display: none" onchange="$('#avatar').html($(this).val()).attr({ src:''});" class="form-control"/>
                                               <img src="<?=$data['users']['avatar']?>" id="avatar" class="img-thumbnail"/></label>
                                       </div>
                                       <div id="crop-select" class="form-group col-md-12 align-center"></div>
                                   </div>

                                   <div class="form-group col-md-4">
                                             <div class="form-group ">
                                                <label for="login">LOGIN</label>
                                                <input type="text" id="login" name="login" value="<?=$data['users']['login']?>" class="form-control" disabled/>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">EMAIL</label>
                                                <input type="text" id="email" name="email" value="<?=$data['users']['email']?>" class="form-control"/>
                                            </div>

                                       <div class="form-group">
                                           <label for="password">PASSWORD</label>
                                           <input name="password" id="password" placeholder="******" class="form-control" disabled/>
                                       </div>

                                       <div class="form-group">
                                           <label for="phone">Мобільний телефон:</label>
                                           <input type="tel" name="phone" id="phone" value="<?=$data['users']['phone']?>" class="form-control" data-inputmask="'mask': '38(099)-999-99-99'"/>
                                       </div>

                                   </div>

                                   <div class="form-group col-md-4">
                                       <div class="form-group ">
                                           <label for="fname">Ім'я</label>
                                           <input type="text" id="fname" name="fname" value="<?=$data['users']['fname']?>" class="form-control"/>
                                       </div>
                                       <div class="form-group">
                                           <label for="lname">Прізвище</label>
                                           <input  type="text" id="lname" name="lname" value="<?=$data['users']['lname']?>" class="form-control"/>
                                       </div>

                                       <div class="form-group">
                                           <label for="sname">Ім'я побатькові:</label>
                                           <input type="text" name="sname" id="sname" value="<?=$data['users']['sname']?>" class="form-control" required pattern="\D[^0-9A-Za-zа-я]{1}+^[а-яё]\"/>
                                       </div>

                                       <div class="form-group">
                                           <label for="int_phone">Внутрішній телефон:</label>
                                           <input type="text" name="int_phone" id="int_phone" value="<?=$data['users']['int_phone']?>" class="form-control" data-inputmask="'mask': '10-99'"/>
                                       </div>

                                   </div>



                               </div>

                                <div class="row list-inline">
                                        <div><a class="col-xs-1 btn btn-w-sm btn-primary" href="/user/">Back</a></div>
                                    <input id="skyle-x" type="hidden" name="skyle-x"/>
                                    <input id="skyle-y" type="hidden" name="skyle-y"/>
                                    <input id="data-w" type="hidden" name="data-w"/>
                                    <input id="data-h" type="hidden" name="data-h"/>
                                        <div class="pull-right"><input type="submit" class="btn btn-success" /> </div>
                                </div>
                             </form>
                     </div>
                 </div>
             </div>

         </div>

    </div>
</div>