<?php





?>


<h3>User Profile</h3>

<h3>Users</h3><br/>
<table class="table table-hover table-striped table-bordered table-responsive" style="">
    <thead>
    <tr>
        <td><b>ID </b></td>
        <td><b>LOGIN </b></td>
        <td><b>EMAIL </b></td>
        <td><b>ROLE </b></td>
        <td><b>MANAGER ID </b></td>
        <td><b>CREATE TIME</b></td>
        <td><b>IS ACTIVE</b></td>
        <td><b>ACTION</b></td>

    </tr>
    </thead>

    <tbody>
    <tr>
        <td><b></b></td>
        <td><b></b></td>
        <td><b></b></td>
        <td><b></b></td>
        <td><b></b></td>
        <td><b></b></td>
        <td><b></b></td>
        <td><a class="btn btn-rounded btn-info" href="/<?=Session::get('role')?>/profile/edit/">Edit</a></td>
    </tr>
    </tbody>
</table>
<br\>
<!--<?php print_r($data['users']);
echo'<br\>';
print_r(Session::get('login'));
?>-->
<br\>

<a class="btn btn-w-sm btn-primary" href="">Back</a>
<div class="row ">
<div class="m-t-xs">

</div>

    <?php var_dump(data['mail']);?>
    <?php //print_r('TEST');?>
</div>
