<div class="wrapper">


    <!-- Main content-->
    <section class="content login">
        <!-- <div class="back-link">
             <a href="index.htm" class="btn btn-accent">Back to Dashboard</a>
         </div>-->

        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <div class="">

                    <h1 class="logo-name text-box">CR+</h1>

                </div>
                <h3>Вітаю в моїй CRM.</h3>
                <p>Ця система розроблена для вирішення ваших найскладніших задач.
                    <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
                </p>
                <p>Ввійдіть щоб почати роботу.</p>
                <form class="m-t" role="form" action="" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" required="" name="username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Увійти</button>

                    <!--<a href="#" disabled><small>Непідходить пароль?</small></a>-->
                    <p class="text-muted text-center">Не має акаунту?<br><b>Звернись до адміністратора.</b></p>
                    <a class="btn btn-sm btn-white btn-block" href="#" disabled>Створити акаунт</a>
                </form>
                <p class="m-t"> <small>Ця система створена Мальованим Павлом &copy; 2018</small> </p>
            </div>
        </div>


    </section>
    <!-- End main content-->

</div>

