<div class="wrapper">


    <!-- Main content-->
    <section class="content login">
        <!-- <div class="back-link">
             <a href="index.htm" class="btn btn-accent">Back to Dashboard</a>
         </div>-->

        <div class="container-center animated slideInDown">


            <div class="view-header">
                <div class="header-icon">
                    <a href="/login/" ><i class="pe page-header-icon pe-7s-unlock"></i></a>
                </div>
                <div class="header-title">
                    <h3>Login</h3>
                    <small>
                        Ви не авторизовані.Будьласка перейдіть до сторінки <a href="/login/" class="c-accent">авторизації</a>.
                    </small>
                </div>
            </div>



        </div>
    </section>
    <!-- End main content-->

</div>